body, html {
  padding: 0;
  border: 0; }

body {
  padding: 0.5em; }

.grid {
  display: block;
  padding: 0.5em; }
  .grid > nav ul[name] {
    vertical-align: baseline;
    display: inline-block; }
    .grid > nav ul[name] > li {
      display: inline-block;
      vertical-align: baseline; }
      .grid > nav ul[name] > li + li {
        margin-left: 0.3em;
        padding-left: 0.3em;
        border-left: 1px solid #666666; }
    .grid > nav ul[name] input[type=search] {
      float: left; }
    .grid > nav ul[name] label {
      float: left;
      clear: both; }
  .grid > ul {
    border: 1px solid #333333;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0 3px 5px #555555;
    -webkit-box-shadow: 0 3px 5px #555555;
    -moz-box-shadow: 0 3px 5px #555555; }
    .grid > ul > li {
      padding: 0.5em;
      border: 1px solid #666666;
      border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em; }
      .grid > ul > li:selected {
        background-color: #ffc873; }
      .grid > ul > li + li {
        margin-top: 0.5em; }
      .grid > ul > li dl dt {
        float: left;
        clear: both;
        width: 5em;
        font-weight: bold;
        padding-right: 1em;
        text-align: right; }
